body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5353531c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

:root {
  --blue-neutral: #0b6bf2;
  --blue-pressed: #0243eb;
  --blue-inactive: #dbe9fd;
}
